@model Order
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_LayoutWebUI.cshtml";
}

<form method="post">
    <div class="card-body">
        <div class="form-group mb-3">
            <input type="hidden" asp-for="Id" />
            <label for="simpleinput">Amount</label>
            <input type="text" asp-for="Amount" id="simpleinput" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Payment Status</label>
            <textarea asp-for="Payment_Status" class="form-control" id="example-textarea" rows="4"></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Date</label>
            <input type="text" asp-for="Date" id="simpleinput" class="form-control">
        </div>

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-outline-success">Save</button>
            <a href="/Order/Index/" class="btn btn-outline-info">Back</a>
        </div>
    </div>
</form>
