@model List<Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebUI.cshtml";
}
@await Html.PartialAsync("~/Views/LayoutDataTable/_HeaderPartial.cshtml")
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mb-2 page-title">Order List</h2>
            <p class="card-text"></p>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Toplam Fiyat</th>
                                        <th>Tarih</th>
                                        <th>Ödeme Durumu</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Amount</td>
                                            <td>@item.Date</td>
                                            <td><span class="badge badge-pill badge-warning">@item.Payment_Status</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-sm dropdown-toggle" type="button" id="dr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="text-muted sr-only">Action</span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dr1">
                                                        <a class="dropdown-item" href="/Order/UpdateOrder/@item.Id">Edit</a>
                                                        <a href="/Order/DeleteOrder/@item.Id" class="dropdown-item">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a class="btn btn-outline-success" href="/Order/AddOrder">Add Order</a>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div>

    </div>
</div>
@await Html.PartialAsync("~/Views/LayoutDataTable/_ScriptsPartial.cshtml")