<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x"><span class="sr-only"></span></i>
    </a>
    <!-- NAV BAR-->
    <nav class="vertnav navbar navbar-light">
        <!-- nav bar -->
        <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
            </a>
        </div>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item">
                <a href="/Profile/ProfileDetail" aria-expanded="false" class="nav-link">
                    <i class="fe fe-user fe-16"></i>
                    <span class="ml-3 item-text">Profile</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/ProductList" aria-expanded="false" class="nav-link">
                    <i class="fe fe-archive fe-16"></i>
                    <span class="ml-3 item-text">Products</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Order/OrderList/" aria-expanded="false" class="nav-link">
                    <i class="fe fe-truck fe-16"></i>
                    <span class="ml-3 item-text">Orders</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Role/RoleList/" aria-expanded="false" class="nav-link">
                    <i class="fe fe-user-plus fe-16"></i>
                    <span class="ml-3 item-text">Roles</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/User/UserList/" aria-expanded="false" class="nav-link">
                    <i class="fe fe-users fe-16"></i>
                    <span class="ml-3 item-text">Users</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Category/CategoryList/" aria-expanded="false" class="nav-link">
                    <i class="fe fe-list fe-16"></i>
                    <span class="ml-3 item-text">Categories</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Mail/Index/" aria-expanded="false" class="nav-link">
                    <i class="fe fe-mail fe-16"></i>
                    <span class="ml-3 item-text">Mail</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Auth/LogOut" aria-expanded="false" class="nav-link">
                    <i class="fe fe-log-out fe-16"></i>
                    <span class="ml-3 item-text">Logout</span><span class="sr-only">(current)</span>
                </a>
            </li>



        </ul>
    </nav>
</aside>