@model TK_Project.Application.ViewModel.ChangePasswordVM
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutWebUI.cshtml";
}

<h1>UpdatePassword</h1>
<form method="post" asp-action="UpdatePassword" asp-controller="Profile">
    <div asp-validation-summary="ModelOnly"></div>
<div class="row mb-4">
    <div class="col-md-6">
        <div class="form-group">
            <label for="oldPas">Old Password</label>
                <input type="password" class="form-control" asp-for="oldPassword">
                <span asp-validation-for="oldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="newPas1">New Password</label>
                <input type="password" class="form-control" asp-for="newPassword1">
                <span asp-validation-for="newPassword1" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label for="newPas2">Confirm Password</label>
                <input type="password" class="form-control" asp-for="newPassword2">
                <span asp-validation-for="newPassword2" class="text-danger"></span>
        </div>
            <button type="submit" class="btn btn-primary">Save Change</button>
    </div>
    <div class="col-md-6">
        <p class="mb-2">Password requirements</p>
        <p class="small text-muted mb-2"> To create a new password, you have to meet all of the following requirements: </p>
        <ul class="small text-muted pl-4 mb-0">
            <li> Minimum 8 character </li>
            <li>At least one special character</li>
            <li>At least one number</li>
            <li>Can’t be the same as a previous password </li>
        </ul>
    </div>
</div>
</form>