@model Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_LayoutWebUI.cshtml";
}
<form method="post">
    <div class="card-body">
        <div class="form-group mb-3">
            <input type="hidden" asp-for="Id" />
            <label for="simpleinput">Name</label>
            <input type="text" asp-for="Name" id="simpleinput" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Description</label>
            <textarea asp-for="Description" class="form-control" id="example-textarea" rows="4"></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Price</label>
            <input type="text" asp-for="Price" id="simpleinput" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Stock</label>
            <input type="text" asp-for="Stock" id="simpleinput" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Status</label><br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Status" type="radio" value="true">
                <label class="form-check-label" for="inlineRadio1">True</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Status" type="radio" value="false">
                <label class="form-check-label" for="inlineRadio2">False</label>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Category Id</label>
            <input type="text" asp-for="CategoryId" id="simpleinput" class="form-control">
        </div>

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-outline-success">Save</button>
            <a href="/Product/Index/" class="btn btn-outline-info">Back</a>
        </div>
    </div>
</form>